---
---
<div class="photo-cell cell">
  <img src="https://arjunphlox.com/images/arjun-phlox.jpg" alt="Arjun Phlox" />
</div>

<div class="bio-text-cell cell">
  <p class="bio-text">Whether it's a product interface or a calligraphic letterform, I deeply enjoy work that needs both creative instinct and systemic thinking. When creating, I go by the feels and spontaneity but root things in deep sense and structure.</p>
</div>

<div class="bio-up-arrow cell">
  <span>&#8963;</span>
</div>
