---
---
<div class="competency-cell cell">
  <div class="skills-list">
    <span class="skill-item">Typography</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">User Interface Design</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Motion Design</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Storytelling</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Branding</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Web Experience Design</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Copywriting</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Graphic Design</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Digital Product Design</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Photography</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Illustration</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">User Research</span><span class="skill-sep"> &bull; </span>
  </div>
  <div class="competency-divider"></div>
  <div class="hobby-list">
    <span class="skill-item">Design Engineering</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Teaching</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Paper Craft</span><span class="skill-sep"> &bull; </span>
    <span class="skill-item">Calligraphy</span><span class="skill-sep"> &bull; </span>
  </div>
  <div class="competency-footer">
    <span>16 Competencies</span>
    <div class="competency-links">
      <a href="#skill" class="active">Skill</a>
      <a href="#projects">Projects</a>
    </div>
  </div>
</div>
